.file_surat {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 310px;
}

.custom-file-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 350px;
}